/.vs/
/artifacts/
/_installers/
/**/*.user
/**/*.suo
/**/*.VC.db
/**/*.VC.opendb
/**/*.vcxproj.user
/**/*.log
/*.msix
/*.appx
/*.appxbundle
/*.msixbundle
*.obj
*.pdb
*.ilk
*.ipch
*.tlog
*.lastbuildstate
*.cache
Thumbs.db

